.containerStyle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.labelStyle {
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checkboxStyle {
    margin-right: 8px;
}

.textStyle {
    user-select: none;
}
